.footer{
    height: 200px;
    width: auto;
    background-color: black;
    margin-top: 700px;
}

#footer_text{
    text-align: center;
    color: white;
    font-size: 20px;
}
.form-horizontal{
    margin-top: 300px;
    margin-left: 650px;
    width: 400px;
}